.Character {
	background-color: #000;
	padding: 100px 200px;
	height: 100vh;
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	position: relative;
}

.button {
	position: absolute;
	padding: 0;
	top: 25px;
	left: 25px;
	background: url('../../images/back.svg') center no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
}

.info {
	padding: 0;
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 32px;
	color: #fff;
}

.image {
	display: block;
	width: 400px;
	aspect-ratio: 1;
	object-fit: contain;
}

.title {
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 40px;
	font-weight: 600;
	line-height: 42px;
	color: #08ba0b;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.text {
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 26px;
	font-weight: 600;
	line-height: 28px;
	color: #08ba0b;
}

@media screen and (max-width: 1279.98px) {
  .Character {
    padding: 50px;
  }
}

@media screen and (max-width: 1023.98px) {
  .Character {
    padding: 50px;
  }

	.text {
		font-size: 20px;
		line-height: 22px;
	}

	.title {
		font-size: 28px;
		line-height: 30px;
	}
}

@media screen and (max-width: 767.98px) {
  .Character {
    padding: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 50px;
  }

	.text {
		font-size: 26px;
		line-height: 28px;
	}

	.title {
		font-size: 40px;
		line-height: 42px;
	}

	.image {
		width: 200px;
	}
}

@media screen and (max-width: 424.98px) {
  .Character {
    padding: 25px;
  }
}